<div class="card">
    <h2 class="title">Check Balance</h2><br><hr><br>
    <div class="email-login">
      <label for="email"> <b> Phone Number:</b></label>
      <input type="text" class="price" [(ngModel)]="number" placeholder="Phone Number" required>
      
    <button class="cta-btn" (click)="verify()" value="Calculate">verify</button>
    <label for="email"> <b> Amount:</b></label>
      <input type="text" class="price" disabled [(ngModel)]="amount" placeholder="Amount" required>
      
   
  </div>


































