<!-- Responsive slide count ranges from 2-5 (could be more, hadn't tested)
     Slides run in reverse order to fix z-index issue
     Can be placed in a container with no issues -->
     <div class='slide'> 
        <div>Presented By Rahul</div> <!-- Anything can go inside -->
      </div>
      <div class='slide'>
        <div></div>
      </div>
      <div class='slide'>
        <div> Angular Is Best Frame Work</div>
      </div>
      <div class='slide'>
        <div></div>
      </div>
      <div class='slide'>
        <div></div>
      </div>
      